@tailwind base;
@tailwind components;
@tailwind utilities;

.hide{
    display: none;
}
.show{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% , -50%);
 width: 30%;
}
.active{
    border-bottom:2px solid rgb(59 ,130 ,239);
    padding-bottom: 4px;
    color: rgb(59 ,130 ,239);
}

.sing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
